*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#parentBox {
    width: 50%;
    height: 200px;
    padding: 20px;
    margin: 10px auto;
    border: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.childBox {
    width: 50%;
    padding: 20px;
    margin: 10px auto;
    border: 1px solid black;
}

.btnRed {
    padding: 15px;
    width: 250px;
    background-color: #ff0000;
    color: antiquewhite;
    border-radius: 8px;
    cursor: pointer;
}
.btnBlue {
    padding: 15px;
    width: 150px;
    background-color: rgb(4, 0, 255);
    color: antiquewhite;
    border-radius: 8px;
}
.btnYellow {
    padding: 15px;
    width: 150px;
    background-color: rgb(255, 251, 0);
    color: rgb(0, 0, 0);
    border-radius: 8px;
}
.btnBlack {
    padding: 15px;
    width: 150px;
    background-color: rgb(2, 2, 2);
    color: antiquewhite;
    border-radius: 8px;
}
.btnOrange {
    padding: 15px;
    width: 150px;
    background-color: rgb(255, 145, 0);
    color: rgb(0, 0, 0);
    border-radius: 8px;
}
